.currentPage {
  color:red !important;
}
.paginator {
  display: flex;
  justify-content: center;
}
#page {
  display: flex;
}

.update {
  white-space: nowrap;
}

#bookSearch {
  display: inline-block;
  width: calc(100% - 125px);
}
.search-button {
  margin-top: -3px;
}
.add-button {
  margin-top: -3px;
}
